<div class="container">
    <div class="row justify-content-center align-items-center g-2">
        <div class="row justify-content-center align-items-center g-2 mt-4 text-center">
            <div class="col">
                <button type="button" tourAnchor="step1" class="btn btn-primary">
                    Feedback Forms
                    <span class="badge bg-primary" tourAnchor="step4">12</span>
                </button>
            </div>
            <div class="col">
                <button type="button" tourAnchor="step2" class="btn btn-primary">
                    Create Assessment
                    <span class="badge bg-primary"></span>
                </button>
            </div>
            <div class="col">
                <button class="btn btn-primary" tourAnchor="step3">
                    Publish To SafeConnect
                    <span class="badge bg-primary" tourAnchor="step5">12</span>
                </button>
            </div>
        </div>
    </div>
</div>